# Visual Studio
.vs/
*.user
*.suo
*.cache
*.pdb
*.obj
*.exe
*.dll
*.log
*.tmp
*.ide

# Binários e Builds
bin/
obj/
Debug/
Release/
WinFormsApp1/.vs
*.o
*.so
*.a
*.lib

# Configurações de Ambiente
appsettings.*.json
launchSettings.json

# Testes e Cobertura de Código
TestResults/
*.coverage
*.testlog
*.trx

# Pacotes e Dependências
packages/
node_modules/
.vscode/
*.nupkg
*.snupkg

# Backup e Temporários
*.bak
*.swp
*.swo
*.db
Thumbs.db